{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <a href="{{ url_for('.get_all_films') }}" class="btn btn-primary mb-3">Назад</a>
        {% if current_user.is_authenticated and current_user.id == film.user_id %}
        <form action="{{ url_for('.delet_film', id=film.id) }}" method="POST">
            <button class="btn btn-danger">Видалити</button>
        </form>
        <form action="{{ url_for('.update_film', id=film.id) }}" method="GET">
            <button class="btn btn-info">Відредагувати</button>
        </form>
        {%endif%}
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ url_for('.static', filename='images/films/' + film.img_file) }}" class="img-fluid rounded-start" alt="Film Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.name }}</h5>
                        <p class="card-text"><strong>Duration:</strong> {{ film.duration }}</p>
                        <p class="card-text"><strong>Added on:</strong> {{ film.add_to_db }}</p>
                        <p class="card-text"><strong>Tags:</strong>
                            {% for tag in film.film_tags %}
                                <span class="badge bg-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
