{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}
{% block title %} Add post {% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}<br>
        
        {{ render_field(form.title,"form-control", placeholder="Enter title") }}
        {{ render_field(form.content,"form-control") }}
        {{ render_field(form.is_active,"form-check-input") }}
        {{ render_field(form.publish_date,"form-date") }}
        {{ render_field(form.category,"form-control") }}
        {{ render_field(form.author_id,"form-control") }}
        {{ render_field(form.tags,"") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <a href="{{ url_for(".get_posts") }}">Назад</a>
{% endblock %}
