{% macro render_field(field,class_name) %}
    <div class="form-group">
    {{ field.label(class="form-label") }}
    {% if field.type == 'SelectMultipleField' %}
        {{ field(class=class_name, multiple=True, **kwargs) }}
    {% else %}
        {{ field(class=class_name, **kwargs) }}
    {% endif %}
    {% if field.errors %}
    <div class="text-danger">
        {% for error in field.errors %}
            <small>{{ error }}</small><br>
        {% endfor %}
    </div>
        {% endif %}
    </div>
{% endmacro %}